
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/bin/*
!bin/console

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
